<h1>Assignment 4</h1>
<h4>Made in collaboration with <a href="favelix.s3-website-us-east-1.amazonaws.com">Alex</a>.</h4><br/>
<div>
  <p><b>1. Implement the merge sort algorithm On-Prem with an integer array of 1,000,000
  elements.</b></p>
  <p>First of all, you need the array with 1,000,000 elements to sort, so get one. Afterwards, run this code:</p>

  <code>
    Code is located here: <a href="https://github.com/vlgwlf/abbsbucket/blob/master/mergeSort.js">mergesort</a>
  </code><br/><br/>
  <p>The output should be your sorted array.</p><br/>
  Reference: <a href="https://www.nczonline.net/blog/2012/10/02/computer-science-and-javascript-merge-sort/">Merge Sort</a>

  <br/><br/>
  <b><p>2. Benchmark the On-Prem implementation.</p></b>
  <p>The algorithm ate away at one of my cores (100%) and used about 90% of the second one. As for memory, it used about
  5% of my physical memory (which should be about 205MB considering my virtual machine has 4GB on-board.) <br/><br/>
  It finished the process in about <u>3 seconds</u> (2.980 seconds to be exact.)</p>
  <br/><br/>
 <b><p>3. Implement the merge sort algorithm with an integer array of 1,000,000 in a parallel
  approach using micro-services architecture in AWS.</p></b>
  <p>The lambda is located <a href="https://github.com/vlgwlf/abbsbucket/tree/master/newLambda-merge">here</a>. The approach was the following: Have one lambda divide the array into smaller ones,
    afterwards send both of those arrays (left and right) to another lambda who would sort them and return them to the first lambda to verify if it was finished. However, there were complications during implementation.
  Due to the ridiculous amounts of requests during the sorting, AWS decided to block us off, making it impossible to determine if it was sorted completely or determine how much resources it took.</p><br/><br/>
  <b><p>4. Benchmark the AWS implementation.</p></b>
  <p>Currently no stats are available.</p>
</div>
