<h1>Assignment 5</h1>
<h5>Thanks for the mobile data Sergio.</h5>

<p>1. Lambda for multiple cities' weather.
    <div><input type="text" ng-model="ciudades"></div>
    <input type="button" value="Get Weather" ng-click="getCities()">
    <div>{{result}}</div>
</p>

<p>
  2. List 3 things you need to achieve your professional goals.
  <div>
    <li>Better storytelling.</li>
    <li>Better artistic skills.</li>
    <li>Better programming skills.</li>
    <li>EXTRA: a good team.</li>
    <li>EXTRA: greater knowledge on psychology.</li>
  </div>
</p>
